* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #ff6363;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #51f6a6;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .column {
    width: 100%;
    }
}
